<header id="header-top" class="">
    <nav class="navbar-fixed-top">
        <div class="container fixed-top">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="social">
                                <ul class="social-list pull-right">
                                    <li class="social-list-item"><a href="#" class="facebook"><i class="fa fa-fw fa-lg fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="social-list-item"><a href="#" class="youtube"><i class="fa fa-fw fa-lg fa-youtube" aria-hidden="true"></i></a></li>
                                    <li class="social-list-item"><a href="#" class="twitter"><i class="fa fa-fw fa-lg fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="hamburger hamburger--squeeze">
                                <div class="hamburger-box">
                                  <div class="hamburger-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="sidebar-wrapper">
    <nav>
        <ul class="sidebar-nav">
            <li><a href="#state">State of Bangladesh</a></li>
            <li><a href="#vision">Vision &amp; Mission</a></li>
            <li><a href="#project">Our Projects</a></li>
            <li><a href="#volunteer-profile">Volunteer Profile</a></li>
            <li><a href="#">Blog Posts</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
</div>
